.list-item {
	height: 80px;
	border-bottom: solid 1px #cccccc;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #ffffff;
}

.list-item:hover {
	background-color: #eaf8fe;
}

.list-item-top {
	padding-top: 20px;
}

.list-item-bottom {
	margin-top: 10px;
	padding-bottom: 10px;
}

.list-item-title {
	width: 50%;
	font-weight: bold;
	font-size: 17px;
	margin-top: 18px;
}

.list-item-who {
	font-size: 15px;
	margin-top: 8px;
	color: #909090;
}

.list-item-type {
	font-size: 14px;
	float: right;
	color: #909090;
}

.list-item-time {
	font-size: 14px;
	float: right;
	color: #909090;
}
