.list-item {
	height: 80px;
	border-bottom: solid 1px #cccccc;
	padding-left: 15px;
	padding-right: 15px;
}

.list-item-top {
	margin-top: 20px;
}

.list-item-bottom {
	margin-top: 10px;
}

.list-item-title {
	width: 50%;
	font-weight: bold;
	font-size: 17px;
	margin-top: 18px;
}

.list-item-who {
	font-size: 15px;
	margin-top: 8px;
}

.list-item-type {
	font-size: 14px;
	float: right;
}

.list-item-time {
	font-size: 14px;
	float: right;
}
